.footer-cont {
	/* background-color: red; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 25%;
	margin-right: 25%;
}
.footer {
	background-color: rgb(204, 192, 209);
}
