.nav {
	display: flex;
	justify-content: space-between;
	/* color: white; */
	/* background-color: rgb(184, 160, 160); */
	margin-left: 60px;
	margin-right: 200px;
	align-items: center;
	font-size: 20px;
}
.nav .logo {
	color: blueviolet;
}
